
html,body{
  margin: 0;
  padding: 0;
  /* font-size: 10px; */
  /* overflow-y: hidden; Hide vertical scrollbar */
  /* overflow-x: hidden; Hide horizontal scrollbar */
  font-size: calc(5px + .39062vw);
  /* font-size: 6px; */
  --h: 100vh;
  box-sizing: border-box;
}

html {
  overflow: -moz-hidden-unscrollable;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  height: 100%;
  width: calc(100vw + 18px);
  overflow: auto;
}

.App {
  /* text-align: center; */
}

a{
  
  text-decoration: none;
}

a:visited{
  color: black
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.section{
  /* padding-top: 100px; */
}

.dot{
  height: 5px;
  width: 5px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
}


@keyframes animatebar {
  from{
    /* opacity:0; */
    transform: translateY(0%);
  } 
  to{
    /* opacity:1; */
    transform: translateY(100%);
  }
 }